[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
uuid = "*"
isort = "*"
pytest = "*"
flake8 = "*"
uvicorn = "*"
pandas = "*"
openpyxl = "*"
pyopenssl = "*"
python-dotenv = "*"
flask-testing = "*"
numpy = "*"
scipy = "*"
wheel = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[scripts]
sort = "isort ."
test = "python tests.py"
start = "python flasky.py"
migrate_init = "flask db init"
migrate = "flask db migrate"
migrate_up = "flask db upgrade"
migrate_dw = "flask db downgrade"

[pipenv]
allow_prereleases = true
